@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BIIT, UMAIR PLAZA<br />
    6TH ROAD, RAWALPIDNI<br />
    <abbr title="ROLL NO"></abbr>
    19-ARID-3232
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>